@using iWebSite_ComeIndus.Areas.Content.Models;
@Model
@{
    ViewData["Title"] = "ComeIndus - 科系管理";
}
<style>
    * {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    header {
        min-height: 700px;
        min-width: 1000px;
        display: flex;
        justify-content: center
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background: #f8f8f8;
        background-image: none;
    }
        /* Remove IE arrow */
        select::-ms-expand {
            display: none;
        }
    /* Custom Select */
    .select {
        position: relative;
        display: flex;
        width: 20em;
        height: 3em;
        line-height: 3;
        background: #2c3e50;
        overflow: hidden;
        border-radius: .25em;
    }

    select {
        flex: 1;
        padding: 0 .5em;
        color: #1D3255;
        cursor: pointer;
    }
    /* Arrow */
    .select::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1em;
        background: #3BB0A2;
        cursor: pointer;
        pointer-events: none;
        -webkit-transition: .25s all ease;
        -o-transition: .25s all ease;
        transition: .25s all ease;
    }
    /* Transition */
    .select:hover::after {
        color: #f39c12;
    }

    h2 {
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: white;
        padding: 40px 0px 20px 0px;
    }

    h3 {
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: white;
        padding: 10px 0px 20px 0px;
    }


    th, td {
        padding: 20px;
    }
    /*Table Styles*/

    .table-wrapper {
        margin: 10px 70px 70px;
        box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    }

    .fl-table {
        border-radius: 5px;
        font-size: 12px;
        font-weight: normal;
        border: none;
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        white-space: nowrap;
        background-color: white;
        margin-bottom: 30px;
        margin-top: 20px;
    }

        .fl-table td, .fl-table th {
            text-align: center;
            padding: 8px;
        }

        .fl-table td {
            border-right: 1px solid #f8f8f8;
            font-size: 12px;
        }

        .fl-table thead th {
            color: #ffffff;
            background: #3BB0A2;
        }

            .fl-table thead th:nth-child(odd) {
                color: #ffffff;
                background: #324960;
            }

        .fl-table tr:nth-child(even) {
            background: #F8F8F8;
        }
</style>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
</head>

<header>
    <div class="container" id="DeptInfo" style="margin-top:100px">
        <div class="deptList">
            <h3>科系/學群列表</h3>

            <div>
                <form>
                    <label style="color:white">新增科系 - </label>&nbsp;&nbsp;
                    <input id="InsertDeptName" size="20" class="insert-DeptName" placeholder="新科系名稱">&nbsp;&nbsp;
                    <input id="InserDeptDescription" size="60" class="insert-DeptDescription" placeholder="新科系描述">&nbsp;&nbsp;
                    <button class="btn" type="button" onclick="insertDept(this)">新增</button>
                </form>
                <span style="font-size: 18px; color:red" id="insert-result"></span>
            </div>

            <table class="fl-table">
                <thead>
                    <tr>
                        <th>編號</th>
                        <th>名稱</th>
                        <th>描述</th>
                        <th>建立時間</th>
                        <th>建立者</th>
                        <th width="15%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DeptModel Dept in Model)
                    {
                        <!--先全部顯示，之後再調整要顯示的欄位-->
                        <tr>
                            <!-- ko ifnot: IsEdit() && Item() == @Dept.DeptNo -->
                            <td>@Dept.DeptNo</td>
                            <td>@Dept.DeptName</td>
                            <td>@Dept.DeptDescription</td>
                            <td>@Dept.CreateTime</td>
                            <td>@Dept.CreateUser</td>
                            <td>
                                <button class="btn" type="button" onclick="editDept(@Dept.DeptNo)">修改</button>
                                <span>&nbsp;&nbsp;</span>
                                <button class="btn" type="button" onclick="deleteDept(@Dept.DeptNo)">刪除</button>
                            </td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <!-- ko if: IsEdit() && Item() == @Dept.DeptNo -->
                            <td>@Dept.DeptNo</td>
                            <td>
                                <input type="text" name="DeptName" value="@Dept.DeptName" id="DeptName">
                            </td>
                            <td>
                                <input type="text" name="DeptDescription" value="@Dept.DeptDescription" id="DeptDescription">
                            </td>
                            <td>@Dept.CreateTime</td>
                            <td>@Dept.CreateUser</td>
                            <td>
                                <button class="btn" type="button" onclick="saveDept(@Dept.DeptNo, 'DeptName', 'DeptDescription')">確認</button>
                                <span>&nbsp;&nbsp;</span>
                                <button class="btn" type="button" onclick="cancel(@Dept.DeptNo)">取消</button>
                            </td>
                            <!-- /ko -->
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <span style="font-size: 30px;">@ViewData["result"]</span>
</header>

<script type="text/javascript">
    this.IsEdit = ko.observable(false);
    this.Item = ko.observable(0);
    ko.applyBindings($("#DeptInfo").get(0));

    //修改
    function editDept(data) {
        this.IsEdit(true);
        this.Item(data);
    }

    //取消
    function cancel(data) {
        this.IsEdit(false);
        this.Item(data);
    }

    //確定修改
    function saveDept(data) {
        deptName = $("#DeptName").val();
        deptDescription = $("#DeptDescription").val();

        console.log(deptName);

        this.IsEdit(false);
        this.Item(data);

        let args = {
            DeptNo: data,
            DeptName: deptName,
            DeptDescription: deptDescription
        };

        $.post('@Url.Action("UpdateUnivDepartment")', args, function (result) {
            alert(result);
            window.location.reload();
        });
    }

    //刪除
    function deleteDept(DeptNo) {
        //視窗提示
        if (window.confirm("是否確定要刪除?")) {
            this.IsEdit(false);
            //this.Item(data);
            this.Item(DeptNo);

            let args = {
                DeptNo: DeptNo
            };

            $.post('@Url.Action("DeleteUnivDepartment")', args, function (result) {
                alert(result);
                window.location.reload();
            });
        }
    }

    //新增
    function insertDept(butObj) {
        let data = {
            DeptName: $("#InsertDeptName").val(),
            DeptDescription: $("#InsertDeptDescription").val()
        }

        $.post('@Url.Action("InsertUnivDepartment")', data, function (result) {
            alert(result);
            window.location.reload();
        });
    }
</script>