@using iWebSite_ComeIndus.Models
@using System.Data
@model DataTable
<html>
<head>
    <link href="~/css/memberInfor.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>


</head>
<body>
    <div class="container member mt-10">


        <!--
        <div class="col-3 d-flex flex-column ">
            <h6 class="title font-weight-bolder">會員中心</h6>

            <div id="button">
                <img id="showimg" src="~/source/imgupload.png" class="imgUpload mb-3" />
                <button id="uploadb" class="uploadbutton">上傳大頭照</button>
                <input type="file" id="inputFile" style="opacity: 0;">
            </div>

        </div>
            -->
        <div class="row">

            <div class="col-7">
                <h4 class="font-weight-bolder">個人資料修改</h4>
                <hr class="mt-2 border-grayinfo">
                <form method="post" class="text-form" name="updateymemberform" id="updateymemberform">
                    @foreach (DataRow row in Model.Rows)
                    {
                        <div class="form-group row mb-5 ">
                            <label for="Account" class="col-3 col-sm-2 col-form-label">會員帳號</label>
                            <div class="col-9 col-sm-10">
                                <input type="text" class="form-control-plaintext disabled" name="Account" id="Account" value="@row["Account"]" disabled>
                            </div>
                        </div>
                        <div class="form-group row mb-5">
                            <label for="Actualname" class="col-3 col-sm-2 col-form-label">真實姓名</label>
                            <div class="col-6 col-sm-5">
                                <input type="text" class="form-control" name="Actualname" id="Actualname" value="@row["Actualname"]" required>
                            </div>
                            <span id="ActualnameCheck"></span>
                        </div>
                        <div class="form-group row mb-5">
                            <label for="Username" class="col-3 col-sm-2 col-form-label">會員暱稱</label>
                            <div class="col-6 col-sm-5">
                                <input type="text" class="form-control" name="Username" id="Username" value="@row["Username"]" required>
                            </div>
                            <span id="UsernameCheck"></span>
                        </div>

                        <div class="form-group row mb-5">
                            <label for="Birthday" class="col-3 col-sm-2 col-form-label">出生日期</label>
                            <div class="col-6 col-sm-5">
                                <input type="date" class="form-control" name="Birthday" id="Birthday" value="@row["Birthday"]">
                            </div>
                        </div>

                        <div class="form-group row mb-5">
                            <label for="Gender" class="col-3 col-md-2 col-form-label">性別</label>
                            <div class="col-4 col-md-3">
                                <select class="form-control" name="Gender" id="Gender" style="padding:0 5px;border: 1px solid #6FCCC1;">
                                    <!-- ko if: @row["Gender"] == 1 -->
                                    <option value=@row["Gender"] style="display: none">男</option>

                                    <!-- /ko -->
                                    <!-- ko if: @row["Gender"] == 2 -->
                                    <option value=@row["Gender"] style="display: none">女</option>

                                    <!-- /ko -->
                                    <!-- ko if: @row["Gender"] == 3 -->
                                    <option value=@row["Gender"] style="display: none">不願透露</option>
                                    <!-- /ko -->
                                    <option value="1">男</option>
                                    <option value="2">女</option>
                                    <option value="3">不願透漏</option>
                                </select>
                            </div>
                        </div>

                        @if (ViewData["Authority"] != null && ViewData["Authority"].ToString() == "1")
                        {
                            <div class="form-group row mb-5">
                                <label for="Authority" class="col-3 col-sm-2 col-form-label">系統權限</label>
                                <div class="col-6 col-sm-5">
                                    <!-- ko if: @row["Authority"] == 0 -->
                                    <input type="radio" name="Authority0" id="Authority00" value="0" checked="checked">
                                    <label for="Authority00">一般使用者&nbsp;&nbsp;</label>
                                    <input type="radio" name="Authority0" id="Authority01" value="1">
                                    <label for="Authority01">系統管理員</label>

                                    <!-- /ko -->
                                    <!-- ko if: @row["Authority"] == 1 -->
                                    <input type="radio" name="Authority1" id="Authority10" value="0">
                                    <label for="Authority10">一般使用者&nbsp;&nbsp;</label>
                                    <input type="radio" name="Authority1" id="Authority11" value="1" checked="checked">
                                    <label for="Authority11">系統管理員</label>
                                    <!-- /ko -->
                                </div>
                            </div>
                        }

                        <div class="changeButton form-group d-felx mt-5 justify-content-end">

                            @if (ViewData["Authority"] != null && ViewData["Authority"].ToString() == "1")
                            {
                                <!-- ko if: @row["Authority"] == 0 -->
                                <button class="save mr-3" type="button" onclick="saveMember('Account', 'Actualname', 'Username', 'Birthday', 'Gender', 'Authority0')">儲存</button>

                                <!-- /ko -->
                                <!-- ko if: @row["Authority"] == 1 -->
                                <button class="save mr-3" type="button" onclick="saveMember('Account', 'Actualname', 'Username', 'Birthday', 'Gender', 'Authority1')">儲存</button>
                                <!-- /ko -->
                            }
                            @if (ViewData["Authority"] != null && ViewData["Authority"].ToString() == "0")
                            {
                                <button class="save mr-3" type="button" onclick="saveMember('Account', 'Actualname', 'Username', 'Birthday', 'Gender', null)">儲存</button>
                            }
                            <button class="cancel" type="button" onclick="cancel()">清除</button>
                        </div>
                        <p class="change">
                            <a href="~/Account/ChangePassword?Account=@row["Account"]">Change Password?</a>
                        </p>
                    }
                </form>
            </div>
        </div>
    </div>

    <script src="~/js/memberInfor.js"></script>
    <script type="text/javascript">

        ko.applyBindings($("#updateymemberform").get(0));

        var url = location.href.split("?");
        if (url.length > 1) {
            var account = (url[1].split("="))[1];
            document.getElementById("Account").value = account;
        }

        //儲存
        function saveMember(Account, Actualname, Username, Birthday, Gender, Authority) {
            account = document.getElementById(Account).value;
            actualname = document.getElementById(Actualname).value;
            username = document.getElementById(Username).value;
            birthday = document.getElementById(Birthday).value;
            gender = document.getElementById(Gender).value;
            if (Authority == null) {
                authority = null;
            }
            else {
                authority = $("input[name=" + Authority + "]:checked").val();
            }

            if (actualname.length == 0 || username.length == 0 || gender.length == 0) {
                alert("會員資料尚未填寫完畢");
                return false;
            }
            else {
                let args = {
                    Account: account,
                    Actualname: actualname,
                    Username: username,
                    Birthday: birthday,
                    Gender: gender,
                    Authority: authority
                };

                //$.post('@Url.Action("UpdateMember")', args, data => { });

                //Ajax
                $.ajax({
                    url: '@Url.Action("UpdateMember")',
                    data: args,
                    method: "POST",
                    async: true,
                    success: function (response) {
                        toastr.clear();
                        if (response) {
                            toastr.success("修改成功");
                        } else {
                            toastr.error("修改失敗");
                        }
                    },
                    error: function (xhr, status, error) {
                        toastr.clear();
                    }
                });

                //document.location.href = "/Member/Member/ShowMember";
            }
        }

        //清除
        function cancel() {
            document.getElementById('Actualname').value = "";
            document.getElementById('Username').value = "";
            document.getElementById('Birthday').value = "";
            document.getElementById('Gender').value = "";
        }
    </script>
</body>
</html>