@using iWebSite_ComeIndus.Models
@using System.Data
@model DataTable
@{
    ViewData["Title"] = "ComeIndus - 會員中心";
}
<style>
    * {
        border: 1px soild white;
    }

    header {
        min-height: 700px;
        min-width: 1000px;
        display: flex;
        justify-content: center
    }

    h2 {
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: white;
        padding: 50px 0px 20px 0px;
    }

    th, td {
        padding: 20px;
    }
    /*Table Styles*/

    .table-wrapper {
        margin: 10px 70px 70px;
        box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    }

    .fl-table {
        border-radius: 5px;
        font-size: 12px;
        font-weight: normal;
        border: none;
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        white-space: nowrap;
        background-color: white;
        margin-bottom: 30px;
    }

        .fl-table td, .fl-table th {
            text-align: center;
            padding: 8px;
        }

        .fl-table td {
            border-right: 1px solid #f8f8f8;
            font-size: 12px;
        }

        .fl-table thead th {
            color: #ffffff;
            background: #3BB0A2;
        }

            .fl-table thead th:nth-child(odd) {
                color: #ffffff;
                background: #324960;
            }

        .fl-table tr:nth-child(even) {
            background: #F8F8F8;
        }
    }
</style>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
</head>
<body>
    <header>
        <div class="container" id="MemberInfo">
            <h2>查看會員資料</h2>
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>會員帳號</th>
                        <th>真實姓名</th>
                        <th>會員暱稱</th>
                        <th>出生日期</th>
                        <th>性別</th>
                        @if (ViewData["StatusNo"] != null && ViewData["StatusNo"].ToString() == "1")
                        {
                            <th>系統權限</th>
                            <th width="15%">管理員</th>
                        }
                        @if (ViewData["StatusNo"] != null && ViewData["StatusNo"].ToString() == "0")
                        {
                            <th width="15%">會員資料更新</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow row in Model.Rows)
                    {
                        <tr>
                            <td>@row["Account"]</td>
                            <td>@row["Actualname"]</td>
                            <td>@row["Username"]</td>
                            <td>@row["Birthday"]</td>
                            <td>
                                <!-- ko if: @row["Gender"] == 1 -->
                                <span>男</span>
                                <!-- /ko -->
                                <!-- ko if: @row["Gender"] == 2 -->
                                <span>女</span>
                                <!-- /ko -->
                                <!-- ko if: @row["Gender"] == 3 -->
                                <span>不願透露</span>
                                <!-- /ko -->
                            </td>
                            @if (ViewData["StatusNo"] != null && ViewData["StatusNo"].ToString() == "1")
                            {
                                <td>
                                    <!-- ko if: @row["StatusNo"] == 0 -->
                                    <span>一般使用者</span>
                                    <!-- /ko -->
                                    <!-- ko if: @row["StatusNo"] == 1 -->
                                    <span>系統管理員</span>
                                    <!-- /ko -->
                                </td>
                                <td>
                                    <button class="btn" type="button" onclick="editMember('@row["Account"]')">修改</button>
                                    <span>&nbsp;&nbsp;</span>
                                    <button class="btn" type="button" onclick="deleteMember('@row["Account"]')">刪除</button>
                                </td>
                            }
                            @if (ViewData["StatusNo"] != null && ViewData["StatusNo"].ToString() == "0")
                            {
                                <td>
                                    <button class="btn" type="button" onclick="editMember('@row["Account"]')">修改</button>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </header>

    <script type="text/javascript">

    this.Item = ko.observable(0);
    ko.applyBindings($("#MemberInfo").get(0));

    function editMember(data) {
        this.Item(data);
        document.location.href = "/Member/Member/ModifyMember?Account=" + data;
    }

    //刪除
    function deleteMember(data) {
        //視窗提示
        if (window.confirm("是否確定要刪除?")) {
            this.Item(data);

            let args = {
                Account: data
            };

            //Ajax
            $.ajax({
                url: '@Url.Action("DeleteMember")',
                data: args,
                method: "POST",
                async: true,
                success: function (response) {
                    toastr.clear();
                    if (response) {
                        toastr.success("刪除成功");
                        window.location.reload();
                    } else {
                        toastr.error("刪除失敗");
                    }
                },
                error: function (xhr, status, error) {
                    toastr.clear();
                }
            });
        }
    }
    </script>
</body>
</html>