@using iWebSite_ComeIndus.Areas.Content.Models;
@model MgtGradModel;
<!--CSS:暫時先複製別的檔案來用-->
<style>
    * {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    header {
        min-height: 700px;
        min-width: 1000px;
        display: flex;
        justify-content: center;
        background-color: white;
    }
    h2 {
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: white;
        padding: 50px 0px 20px 0px;
    }

    th, td {
        padding: 20px;
    }
    /*Table Styles*/

    .table-wrapper {
        margin: 10px 70px 70px;
        box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    }

    .fl-table {
        border-radius: 5px;
        font-size: 12px;
        font-weight: normal;
        border: none;
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        white-space: nowrap;
        background-color: white;
        margin-bottom: 30px;
    }

        .fl-table td, .fl-table th {
            text-align: center;
            padding: 8px;
        }

        .fl-table td {
            border-right: 1px solid #f8f8f8;
            font-size: 12px;
        }

        .fl-table thead th {
            color: #ffffff;
            background: #3BB0A2;
        }

        .fl-table thead th:nth-child(odd) {
                color: #ffffff;
                background: #324960;
        }

        .fl-table tr:nth-child(even) {
            background: #F8F8F8;
        }
        
</style>


<header>
    <div class="container">
        <div style="margin-top:100px">
            <label>年份</label>
            <select id="yearStartOption" onchange="yearOptionAdjust(this)">
                <option value="*">all</option>
                @foreach (var Time in Model.Years)
                {
                    <option value="@Time.Year">@Time.Year</option>
                }
            </select>
            <label class="secondYear"> ~ </label>
            <select id="yearEndOption" class="secondYear">
                @foreach (var Time in Model.Years)
                {
                    <option value="@Time.Year">@Time.Year</option>
                }
            </select>

            <label>國家</label>
            <select id="countryOption" onchange="displayDept(this)">
                @foreach (var countryDept in Model.CountryDepts)
                {
                    <option value="@countryDept.CountryNo">@countryDept.CountryName</option>
                }
            </select>

            <label>科系</label>
            @foreach (var countryDept in Model.CountryDepts)
            {
                <select class="deptOptions" country="@countryDept.CountryNo">
                    <option value="*">all</option>
                    @for (int i = 0; i < countryDept.DeptName.Count; i++)
                    {
                        <option value="@countryDept.CountryDeptNo[i]">@countryDept.DeptName[i]</option>
                    }

                </select>
            }
            <span class="insert">
                <label>輸入畢業人數</label>
                <input id="gradNum">
            </span>

            <button type="button" onclick="searchSubmit()" class="headerBut">查詢</button>
            <button type="button" onclick="showEdit()" class="headerBut">編輯</button>
            <button type="button" onclick="insertSubmit()" class="insert">新增</button>
            <button type="button" onclick="butCancel()" class="cancel">取消</button>
        </div>

        <div>
            <table id="gradData"class="fl-table">
            </table>
            <sapn id="msg" style="color:red;font-size:25px"></sapn>
        </div>

    </div>
</header>


<script>
    $(function () {
        $(".deptOptions").css("display", "None");
        $(".deptOptions").first().css("display", "");
        $(".insert").css("display", "None");
        $(".cancel").css("display", "None");
        $(".secondYear").css("display", "None");


    });

    // 依照選取國家顯示相應科系列表
    function displayDept(countryObj) {
        var countryNo = countryObj.value;
        $(".deptOptions").css("display", "None");
        $(".deptOptions[country='" + countryNo + "']").css("display", "");
    }

    function showEdit() {
        $(".headerBut").css("display", "None");
        $(".insert").css("display", "");
        $(".cancel").css("display", "");
        $(".rowBut").css("display", "");
    }

    function showRowEdit(cell) {
        var row = $(cell).parent();
        row.children(".rowEdit").css("display", "")
        $(".rowBut").css("display", "None");
       
    }

    function butCancel() {
        $(".headerBut").css("display", "");
        $(".insert").css("display", "None");
        $(".cancel").css("display", "None");
        $(".rowBut").css("display", "None");
        $(".rowEdit").css("display", "None");
    }

    function rowCancel() {
        $(".rowEdit").css("display", "None");
        $(".rowBut").css("display", "");
    }

    function yearOptionAdjust(yearObj) {
        var index = yearObj.selectedIndex;
        if (index > 0) {
            $(".secondYear").css("display", "");
            $("#yearEndOption").children().css("display", "")
            $("#yearEndOption").children().slice(0, index - 1).css("display", "None")
            $("#yearEndOption").children("option").eq(index-1).attr("selected", "selected")
        } else {
            $(".secondYear").css("display", "None");
        }
    }

    function searchSubmit() {
        var yearStart = $("#yearStartOption").val();
        var yearEnd = $("#yearEndOption").val();
        var countryNo = $("#countryOption").val();
        var countryDeptNo = $(".deptOptions[country='" + countryNo + "']").val();

        $.ajax({
            type: "GET",
            url: "/Content/MgtGraduation/ShowGrad",
            data: {
                yearStart: yearStart,
                yearEnd: yearEnd,
                countryNo: countryNo,
                countryDeptNo: countryDeptNo
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            beforeSend: function () {

            },
            success: function (data) {             
                var table = $("#gradData");
                table.empty();
                $("#msg").text("");

                var row = $('<tr>');

                row.append($('<th>').html("年份"));
                row.append($('<th>').html("科系"));
                row.append($('<th>').html("畢業人數"));
                table.append(row);

                if (data.length == 0) {
                    $("#msg").text("No Data");

                } else {
                    for (var i = 0; i < data.length; i++) {
                        var row = $('<tr>');
                        row.append($('<td>').html(data[i].year));
                        row.append($('<td countryDeptNo=' + data[i].countryDeptNo + '>').html(data[i].deptName));
                        row.append($('<td>').html(data[i].graduationNumber));

                        // button
                        var dataNo = "year='" + data[i].year + "' countryDeptNo='" + data[i].countryDeptNo + "'";
                        row.append($('<button class="rowBut" onclick="deleteSubmit(this)" ' + dataNo + '">').html("刪除"));
                        row.append($('<button class="rowBut" onclick="showRowEdit(this)">').html("修改"));

                        // input
                        row.append($('<input class="rowEdit" id="rowEditInput" placeholder="請輸入畢業人數">'));
                        row.append($('<button class="rowEdit" onclick="updateSubmit(this)" ' + dataNo + '">').html("確定"));
                        row.append($('<button class="rowEdit" onclick="rowCancel(this)" ' + dataNo + '">').html("取消"));

                        
                        table.append(row);
                    }

                    $(".rowBut").css("display", "None");
                    $(".rowEdit").css("display", "None");
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function insertSubmit() {
        var year = $("#yearStartOption").val();
        var countryNo = $("#countryOption").val();
        var countryDeptNo = $(".deptOptions[country='" + countryNo + "']").val();
        var gradNum = $("#gradNum").val();

        //輸入檢查
        if (year == "*" || countryDeptNo == "*") {
            alert("請選擇確切的年份和科系");
            return
        } else if (gradNum == "") {
            alert("請輸入人數");
            return
        }

        $.ajax({
            type: "GET",
            url: "/Content/MgtGraduation/InsertGrad",
            data: {
                year: year,
                countryDeptNo: countryDeptNo,
                gradNum: gradNum
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: true,
            beforeSend: function () {

            },
            success: function (result) {
                //console.log(data);
                if (result == true) {
                    searchSubmit();
                    $("#msg").text("新增成功");
                } else {
                    $("#msg").text("新增失敗!! 請確保輸入值為整數且不為負");
                }


            },
            error: function (e) {
                console.log(e);
            }
        });

    }

    function deleteSubmit(butObj) {
        var year = butObj.getAttribute("year");
        var countryDeptNo = butObj.getAttribute("countryDeptNo");

        var isOk = confirm("確定要刪除嗎? 此動作無法復原喔");
        if (isOk) {
            $.ajax({
                type: "GET",
                url: "/Content/MgtGraduation/DeleteGrad",
                data: {
                    year: year,
                    countryDeptNo: countryDeptNo,
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: true,
                beforeSend: function () {

                },
                success: function (result) {
                    //console.log(data);
                    if (result == true) {
                        searchSubmit();
                        $("#msg").text("刪除成功");
                    } else {
                        $("#msg").text("刪除失敗");
                    }


                },
                error: function (e) {
                    console.log(e);
                }
            });
        }
    }

    function updateSubmit(butObj) {
        var year = butObj.getAttribute("year");
        var countryDeptNo = butObj.getAttribute("countryDeptNo");
        var gradNum = $(butObj).parent().find("#rowEditInput").val();

        var isOk = confirm("確定要更改嗎? 此動作無法復原喔");
        if (isOk) {
            $.ajax({
                type: "GET",
                url: "/Content/MgtGraduation/UpdateGrad",
                data: {
                    year: year,
                    countryDeptNo: countryDeptNo,
                    graduationNumber: gradNum
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: true,
                beforeSend: function () {

                },
                success: function (result) {
                    //console.log(data);
                    if (result == true) {
                        searchSubmit();
                        $("#msg").text("更新成功");
                    } else {
                        $("#msg").text("更新失敗!! 請確保輸入值為整數且不為負");
                    }


                },
                error: function (e) {
                    console.log(e);
                }
            });
        }
    }


</script>
