@model List<iWebSite_ComeIndus.Areas.Content.Models.TimeModel>;
@{
    ViewData["Title"] = "ComeIndus - 數據圖表";
}
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://cdn.amcharts.com/lib/4/plugins/sliceGrouper.js"></script>
<head>
    <link rel="stylesheet" href="~/css/unstyle.css">
    <style>
        .down {
            position: absolute;
            right: 20px;
            bottom: 10px;
        }

        .source {
            position: absolute;
            right: auto;
            left: auto;
            bottom: 20px;
            letter-spacing: 2px;
        }

        .top {
            position: absolute;
            right: 0px;
            top: 50px;
            color: #3BB0A2;
            font-weight: bold;
        }

        .top-left {
            position: absolute;
            left: 0px;
            top: 50px;
            color: #1D3255;
            font-weight: bold;
        }

        .top-left-split-1 {
            position: absolute;
            left: 75px;
            top: 50px;
            color: #1D3255;
            font-weight: bold;
        }

        .top-left-center {
            position: absolute;
            left: 85px;
            top: 50px;
            color: #1D3255;
            font-weight: bold;
        }

        .top-left-split-2 {
            position: absolute;
            left: 195px;
            top: 50px;
            color: #1D3255;
            font-weight: bold;
        }

        .top-left-dwon {
            position: absolute;
            left: 205px;
            top: 50px;
            color: #1D3255;
            font-weight: bold;
        }
    </style>

</head>
<header id="tai">
    @if (ViewData["StatusNo"] != null && ViewData["StatusNo"].ToString() == "1")
    {
        <div class="button">
            <a class="button btn btn-link btn-lg top-left" href="/content/MgtDepartment/">科系管理</a>
        </div>
        <span class="button btn btn-lg top-left-split-1">/</span>
        <div class="button">
            <a class="button btn btn-link btn-lg top-left-center" href="/content/MgtCountryDept/">國家科系管理</a>
        </div>
        <span class="button btn btn-lg top-left-split-2">/</span>
        <div class="button">
            <a class="button btn btn-link btn-lg top-left-dwon" href="/content/MgtGraduation">畢業人數管理</a>
        </div>
    }

    <div class="button">
        <a class="button btn btn-link btn-lg top" href="/content/UnivGraduation/DiffCountry">前往不同國比較>></a>
    </div>
    <div class="container sty1">
        <div class="title">
            <h2>Taiwan</h2>
        </div>
        <div class="years">

            <!--select裡的屬性須留著-->

            <select id="select1" class="sty taiyears" country="8" returnTo="chartdiv1" onchange="getData(this)">
                @foreach (var year in Model)
                {
                    <option value="@year.Year">@year.Year 年</option>
                }
            </select>
            <select id="select2" class="taiyears" country="8" returnTo="chartdiv2" onchange="getData(this)">
                @foreach (var year in Model)
                {
                    <option value="@year.Year">@year.Year 年</option>
                }
            </select>
        </div>
        <div class="box">
            <div class="chartdiv" id="chartdiv1"></div>
            <div class="chartdiv" id="chartdiv2"></div>
        </div>
        @if (ViewData["StatusNo"] != null && ViewData["StatusNo"].ToString() == "1")
        {
            <button class="btn btn-light btn-lg down" onclick="download('taiwan')">下載</button>
        }
        <a href="https://stats.moe.gov.tw/qframe.aspx?qno=MgAwADgA0" class="source">資料來源:教育統計查詢網</a>
    </div>
</header>
<header id="sin">
    <div class="container sty1">
        <div class="title">
            <h2>Singapore</h2>
        </div>
        <div class="years">
            <select id="select3" class="sty sinyears" country="7" returnTo="chartdiv3" onchange="getData(this)">
                @foreach (var year in Model)
                {
                    <option value="@year.Year">@year.Year 年</option>
                }
            </select>
            <select id="select4" class="sinyears" country="7" returnTo="chartdiv4" onchange="getData(this)">
                @foreach (var year in Model)
                {
                    <option value="@year.Year">@year.Year 年</option>
                }
            </select>
        </div>
        <div class="box">
            <div class="chartdiv" id="chartdiv3"></div>
            <div class="chartdiv" id="chartdiv4"></div>
        </div>
        @if (ViewData["StatusNo"] != null && (ViewData["StatusNo"].ToString() == "1" || ViewData["StatusNo"].ToString() == "0"))
        {
            <button id="download" class="btn btn-light btn-lg down" onclick="download('singapore')">下載</button>
        }
        <a href="https://data.gov.sg/dataset/universities-intake-enrolment-and-graduates-by-course" class="source">資料來源:data.gov.sg</a>
    </div>
</header>

<header id="chi">
    <div class="container sty1">
        <div class="title">
            <h2>China</h2>
        </div>
        <div class="years">
            <select id="select5" class="sty chiyears" country="1" returnTo="chartdiv5" onchange="getData(this)">
                @foreach (var year in Model)
                {
                    <option value="@year.Year">@year.Year 年</option>
                }
            </select>
            <select id="select6" class="chiyears" country="1" returnTo="chartdiv6" onchange="getData(this)">
                @foreach (var year in Model)
                {
                    <option value="@year.Year">@year.Year 年</option>
                }
            </select>
        </div>
        <div class="box">
            <div class="chartdiv" id="chartdiv5"></div>
            <div class="chartdiv" id="chartdiv6"></div>
        </div>
        @if (ViewData["StatusNo"] != null && ViewData["StatusNo"].ToString() == "1")
        {
            <button id="download" class="btn btn-light btn-lg down" onclick="download('china')">下載</button>
        }

        <a href="https://data.stats.gov.cn/easyquery.htm?cn=C0" class="source">資料來源:中國國家統計局</a>
    </div>
</header>

<script>
    //下載
    function download(country) {
        var year1;
        var year2;
        var coun;
        if (country == 'taiwan') {
            coun = 8;  // 之後改成玟婷傳的值
            year1 = document.getElementById("select1").value;
            year2 = document.getElementById("select2").value;
        } else if (country == 'singapore') {
            coun = 7;  // 之後改成玟婷傳的值
            year1 = document.getElementById("select3").value;
            year2 = document.getElementById("select4").value;
        } else if (country == 'china') {
            coun = 1;  // 之後改成玟婷傳的值
            year1 = document.getElementById("select5").value;
            year2 = document.getElementById("select6").value;
        } else {
            // throw error
            console.error("wrong country");
            return;
        }
        fetch(`/Content/UnivGraduation/Download?Year=${year1},${year2}&Country=${coun}`).then(resp => resp.blob())
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                // the filename you want
                a.download = `UnivGraduation_${year1}_${year2}_${country}.xlsx`;
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
                a.remove();
            })
            .catch((e) => console.error(e));
    }

    function getData(selectedObj) {
        $.ajax({
            type: "GET",
            url: "/Content/UnivGraduation/GraduationFromDiffYear",
            data: { year: selectedObj.value, country: selectedObj.getAttribute("country") },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: true,
            beforeSend: function () {
                // null
            },
            success: function (data) {
                console.log(data);

                //chartDIV為要顯示圓餅圖的地方
                chartDiv = document.getElementById(selectedObj.getAttribute("returnTo"));

                var deptName = data.deptName
                var gradNum = data.graduationNumber
                var inum = []
                deptName.forEach((v, i) => inum.push({ "deptName": deptName[i], "studentNum": gradNum[i] }));
                inum = inum.sort((a, b) => b.studentNum - a.studentNum);
                drawChart(inum, selectedObj.getAttribute("returnTo"))

                // 先直接顯示json測試， 之後刪掉
                @*chartDiv.innerHTML = "<span style='color:black'>" + JSON.stringify(data) + "</span>";*@
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function drawChart(data, name) {
        am4core.ready(function () {
            var chartIndex = am4core.registry.baseSprites.findIndex((v) => v.htmlContainer.id == name);
            if (chartIndex != -1) {
                am4core.registry.baseSprites[chartIndex].data = data;
                am4core.registry.baseSprites[chartIndex].children.values[1].disabled = data.length == 0 ? false : true;
            } else {
                // Themes begin
                am4core.useTheme(am4themes_animated);
                // Themes end

                // Create chart instance
                var chart = am4core.create(name, am4charts.PieChart);
                // Add data
                chart.data = data;
                // Add and configure Series
                var pieSeries = chart.series.push(new am4charts.PieSeries());
                pieSeries.dataFields.value = "studentNum";
                pieSeries.dataFields.category = "deptName";
                pieSeries.slices.template.stroke = am4core.color("#fff");
                pieSeries.slices.template.strokeOpacity = 1;

                pieSeries.labels.template.paddingTop = 0;
                pieSeries.labels.template.paddingBottom = 0;
                pieSeries.labels.template.fontSize = 10;


                var emptylabel = chart.createChild(am4core.Label);
                emptylabel.text = "No Data";
                emptylabel.fontSize = 20;
                emptylabel.align = "center";
                emptylabel.disabled = data.length == 0 ? false : true;

                // plugin
                var grouper = pieSeries.plugins.push(new am4plugins_sliceGrouper.SliceGrouper());
                // grouper.threshold = 5;
                grouper.limit = 7;
                grouper.groupName = "Other";
                grouper.clickBehavior = "zoom";

                // This creates initial animation
                pieSeries.hiddenState.properties.opacity = 1;
                pieSeries.hiddenState.properties.endAngle = -90;
                pieSeries.hiddenState.properties.startAngle = -90;

                chart.hiddenState.properties.radius = am4core.percent(0);

            }

        }); // end am4core.ready()
    }

    for (var i = 1; i < 7; i++) {
        var tempSelect = document.getElementById("select" + i.toString());
        getData(tempSelect);
    }


</script>


