@using System.Data
@model DataTable

<style>
    * {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    h2 {
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: white;
        padding: 50px 0px 20px 0px;
    }
    th,td{
       padding:20px;
    }
    /*Table Styles*/

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    margin-bottom: 30px;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

    .fl-table thead th {
        color: #ffffff;
        background: #3BB0A2;
    }


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}


</style>

<header>
    <div class="container">
        <h2>查看意見回饋</h2>
        <table class="fl-table">
            <thead>
                <tr>
                    <th>編號</th>
                    <th>類型</th>
                    <th>標題</th>
                    <th>內容</th>
                    <th>回饋者</th>
                    <th>回饋時間</th>
                </tr>
            </thead>
            @foreach (DataRow row in Model.Rows)
            {
                <!--先全部顯示，之後再調整要顯示的欄位-->
                <tr>
                    <td>@row["FeedbackNo"]</td>
                    <td>@row["TypeName"]</td>
                    <td>@row["FeedbackTitle"]</td>
                    <td>@row["FeedbackContent"]</td>
                    <td>@row["FeedbackUser"]</td>
                    <td>@row["CreateTime"]</td>
                </tr>
            }
        </table>
</header>