@using iWebSite_ComeIndus.Areas.News.Models
@using System.Data
@model DataTable

<style>
    * {
        border: 1px soild white;
    }

    header {
        min-height: 700px;
        min-width: 1000px;
        display: flex;
        justify-content: center
    }

    h2 {
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: white;
        padding: 50px 0px 20px 0px;
    }

    th, td {
        padding: 20px;
    }
    /*Table Styles*/

    .table-wrapper {
        margin: 10px 70px 70px;
        box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    }

    .fl-table {
        border-radius: 5px;
        font-size: 12px;
        font-weight: normal;
        border: none;
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        white-space: nowrap;
        background-color: white;
        margin-bottom: 30px;
    }

        .fl-table td, .fl-table th {
            text-align: center;
            padding: 8px;
        }

        .fl-table td {
            border-right: 1px solid #f8f8f8;
            font-size: 12px;
        }

        .fl-table thead th {
            color: #ffffff;
            background: #3BB0A2;
        }

            .fl-table thead th:nth-child(odd) {
                color: #ffffff;
                background: #324960;
            }

        .fl-table tr:nth-child(even) {
            background: #F8F8F8;
        }

    .Newstitle {
        white-space: normal;
        max-width: 200px;
        
    }
    .NewsContent {
        white-space: normal;
        max-width: 220px;
        word-break: break-all;
    }
</style>

<head>
   
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    

</head>

<header>
    <div class="container" id="NewsInfo">
        <h2>查看最新消息</h2>
        <table class="fl-table">
            <thead>
                <tr>
                    <th>公告時間</th>
                    <th>類型</th>
                    <th>標題</th>
                    <th>內容</th>
                    <th>點閱次數</th>
                    @if (ViewData["Authority"] != null && ViewData["Authority"].ToString() == "1")
                    {
                        <th width="15%">管理員</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        <!-- ko ifnot: IsEdit() && Item() == @row["NewsNo"] -->
                        <td>@row["NewsStart"]</td>
                        <td>@row["TypeName"]</td>
                        <td class="Newstitle">@row["NewsTitle"]</td>
                        <td class ="NewsContent">@row["NewsContent"]</td>
                        <td>@row["NewsHits"]</td>
                        @if (ViewData["Authority"] != null && ViewData["Authority"].ToString() == "1")
                        {
                            <td>
                                <button class="btn" type="button" onclick="editNews(@row["NewsNo"])">修改</button>
                                <span>&nbsp;&nbsp;</span>
                                <button class="btn" type="button" onclick="deleteNews(@row["NewsNo"])">刪除</button>
                            </td>
                        }
                        <!-- /ko -->
                    </tr>
                    <tr>
                        <!-- ko if: IsEdit() && Item() == @row["NewsNo"] -->
                        <td>@row["NewsStart"]</td>
                        <td>
                            <select name="NewsTypeNo" id="TypeName">
                                @{ List<NewsTypeModel> types = (List<NewsTypeModel>)ViewData["NewsTypes"];
                                    <option value=@row["NewsTypeNo"] style="display:none">@row["TypeName"]</option>
                                    foreach (var news in types)
                                    {
                                        <option value=@news.NewsTypeNo>@news.TypeName</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <input type="text" name="NewsTitle" value="@row["NewsTitle"]" id="NewsTitle">
                        </td>
                        <td>
                            <textarea name="NewsContent" rows="5" cols="40" id="NewsContent">@row["NewsContent"]</textarea>
                        </td>
                        <td>@row["NewsHits"]</td>
                        <td>
                            <button class="btn" type="button" onclick="saveNews(@row["NewsNo"], 'TypeName', 'NewsTitle', 'NewsContent')">確認</button>
                            <span>&nbsp;&nbsp;</span>
                            <button class="btn" type="button" onclick="cancel(@row["NewsNo"])">取消</button>
                        </td>
                        <!-- /ko -->
                    </tr>
                }
            </tbody>
        </table>
    </div>
</header>

<script type="text/javascript">
    
    this.IsEdit = ko.observable(false);
    this.Item = ko.observable(0);
    ko.applyBindings($("#NewsInfo").get(0));
    

    function editNews(data) {
        this.IsEdit(true);
        this.Item(data);
    }

    function cancel(data) {
        this.IsEdit(false);
        this.Item(data);
    }

    function saveNews(data, TypeName, NewsTitle, NewsContent) {
        newsTypeNo = document.getElementById(TypeName).value;
        newsTitle = document.getElementById(NewsTitle).value;
        newsContent = document.getElementById(NewsContent).value;
        if (newsTitle.length == 0 || newsContent.length == 0||
            newsTitle.length > 50 || newsContent.length > 200) {
            alert("標題與內容不可為空，且標題要在50字內，內容不可超過200字");
            return false;
        }
        this.IsEdit(false);
        this.Item(data);

        let args = {
            NewsNo: data,
            NewsTypeNo: newsTypeNo,
            NewsTitle: newsTitle,
            NewsContent: newsContent
        };

        $.post('@Url.Action("UpdateNews")', args, data => {});

        window.location.reload();
    }

    function deleteNews(data) {
        this.IsEdit(false);
        this.Item(data);

        let args = {
            NewsNo: data
        };

        $.post('@Url.Action("DeleteNews")', args, data => {});

        window.location.reload();
    }
</script>